/* Title Code */
.Product-header {
  font-size: 75.76px;
  color: white; /* Change text color to white */
  letter-spacing: 3px;
  position: absolute; /* Position the title absolutely */
  top: 35%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the title precisely */
  z-index: 2; /* Place the title above the image */
  transition: color 0.3s ease;
  mix-blend-mode: screen;
}

/* Button Code */
.button-container {
  position: absolute; /* Position the button container absolutely */
  bottom: 43%; /* Adjust the vertical position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the buttons horizontally */
  z-index: 2; /* Place the buttons above the image */
}

.product-container{
  display: flex;
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin: 0px 25px 15px;
  min-width: 150px;
  transition: 0.3s;
  font-size: 20px;
}

.btn span {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn.hover-border-1::before,
.btn.hover-border-1::after {
  width: 10%;
  height: 25%;
  transition: 0.35s;
}

.btn.hover-border-1::before {
  top: 0;
  left: 0;
  border-left: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.btn.hover-border-1::after {
  bottom: 0;
  right: 0;
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.btn.hover-border-1:hover::before,
.btn.hover-border-1:hover::after {
  width: 99%;
  height: 98%;
}


.background-image img{
opacity: 0.9;
max-width: 100vw;
}