.calendly_container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    text-align: center; /* Center the text within the container */
  }
  
  .calendly_component {
    padding: 20px;
    min-height: 50px;
    height: auto; /* Set height to auto to allow content to determine height */
  }
  
  .calendly__form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
    margin-top: 20px; /* Add some spacing between the title and the widget */
  }
  
  .title{
    margin-top: 10vh;
  }