.container {
  display: flex;
  flex-direction: column;

}

.videocomponent{
  scroll-snap-align: start;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px; /* Optional: Add padding to the components */
  min-height: 50px; /* Increase the minimum height to create more spacing */
  height: 100vh;
  scroll-snap-align: start;
}

.partnercomponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*padding: 20px; /* Optional: Add padding to the components */
  min-height: 50px; /* Increase the minimum height to create more spacing */
  height: 50vh;
  scroll-snap-align: start;
}

.slider {
  height: 35vh !important;
}
