/* Header container */
.header {
  background: transparent;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background-color 0.5s, color 0.5s ease;
}

.header:hover {
  background-color: white;
  color: black;
}

/* Logo */
.header-logo img {
}

/* Navigation menu */
.header-nav .menu {
  list-style-type: none;
  display: flex;
}

.header-nav .menu-item {
  margin-right: 20px;
  padding: auto;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s; /* Added opacity transition */
}

.header-nav .menu-item:hover {
  opacity: 0.7; /* Reduce opacity on hover */
}

.header-nav .menu-item button {
  background: none;
  border: none;
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

/* Submenu container */
.sub-menu {
  background-color: #ffffff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease, height 0.3s ease; /* Add height transition */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  position: absolute;
  top: 100%; /* Position submenu below the menu item */
  left: 0;
  right: 0;
}

/* Submenu items */
.sub-menu-item {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 1s ease;
}

/* Active state for submenu */
.menu-item.active .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  width: auto;
  height: auto; /* Add height to reveal submenu smoothly */
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease, width 0.3s ease, height 0.3s ease; /* Add height transition */
}

/* Active state for submenu items */
.menu-item.active .sub-menu-item {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s ease; /* Delay the animation for each submenu item */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
  }

  .header-nav.active {
    display: flex;
  }

  .header-nav .menu-item {
    margin: 10px 0;
  }
}
