/* WarrantyPolicy container styles */
.virtualcontainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  margin-top: 15vh;
}

.virtualcomponent {
  padding: 20vh; /* Optional: Add padding to the components */
  width: 100%; /* Take up the full width of the container */
  max-width: 800px; /* Limit the maximum width */
  text-align: center; /* Center the content horizontally */
  scroll-snap-align: start;
}

.dropdown-container {
  margin-bottom: 20px;
}

.dropdown-container select {
  width: 300px;
  height: 40px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-container select::-ms-expand {
  display: none;
}

.dropdown-container select option {
  background-color: #fff;
  color: #000;
}

.dropdown-container select option[disabled] {
  color: #999;
}

.dropdown-container select option:checked {
  background-color: #000;
  color: #fff;
}

/* Styling for the PDF iframe */
.virtualcomponent iframe {
  border: 1px solid #ccc;
  width: 100%; /* Take up the full width of the component */

  /* Adjust the height for different screen sizes using media queries */
  height: 60vh;

  /* Responsive height for smaller screens */
  @media (max-width: 768px) {
    height: 50vh;
    margin-top: 10px;
  }

  /* Responsive height for even smaller screens */
  @media (max-width: 480px) {
    height: 40vh;
    margin-top: 2vh;
  }
}

/* Adjust the top margin between components for different screen sizes */
.virtualcomponent + .virtualcomponent {
  margin-top: 10vh;

  /* Reduced margin for smaller screens */
  @media (max-width: 768px) {
    margin-top: 1vh;
  }

  /* Further reduced margin for even smaller screens */
  @media (max-width: 480px) {
    margin-top: 1vh;
  }
}

@media (max-width: 768px) {
  .virtualcomponent {
    scroll-snap-align: none !important;
  }
}

@media (max-width: 1600px) {
  .virtualcomponent {
    padding-top: 10vh;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .virtualcomponent {
    scroll-snap-align: none !important;
  }
}
