/* VideoGallery.css */
.vidcontainer {
  display: flex;
  flex-direction: column;
 margin-top: 10vh;
}

.vidcomponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px; /* Optional: Add padding to the components */
  min-height: 50px; /* Increase the minimum height to create more spacing */
  height: auto;
  scroll-snap-align: start;
}
.video-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 20px;
}

/* Media query for medium-sized screens (adjust as needed) */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens up to 768px wide */
  }
}

/* Media query for small-sized screens (adjust as needed) */
@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens up to 480px wide */
  }
}

.video-card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.video-card iframe {
  width: 100%;
  height: 169px;
  border: none;
}

.video-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.video-card p {
  margin: 0;
}


@media (max-width: 768px) {
  .vidcomponent  {
    scroll-snap-align: none !important; 

  }
}


@media (min-width: 769px) and (max-width: 1200px) {
  .vidcomponent{
    scroll-snap-align: none !important; 
  }
}