/* Footer Container */
.footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  text-align: left; /* Align the text to the left */
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* Logo */
.footer-logo {
  width: 80px; /* Adjust the width as needed */
  margin-right: 2vw;
}


/* Social Icons Section */
.social-icons {
  display: flex;
  align-items: center; /* Vertically center the social icons */
}

.social-text {
  align-items: start;
  font-size: 18px;
  margin-right: 20px;
}

.social-links {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.social-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.icon {
  height: 27px;
  margin-right: 4vw;
}

/* Footer Links Section */
.footer-links {
  display: flex;
  justify-content: left;
  align-items: start;
  text-align: left !important;
  gap: 20px;
  gap: 5vw;
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.footer-links-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

/* Copyright Section */
.copyright {
  text-align: left;
  white-space: nowrap; /* Prevent copyright text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
  margin-right:13vw;
}

.footer hr{
  width:60rem;
}

.copyright-and-social {
  display: flex;
  justify-content:space-evenly; /* Aligns copyright to left and social icons to right */
  align-items: center; /* Vertically center the content */
  font-size: 14px;
  margin-top: 10px; /* Add margin to separate from the horizontal line */
  max-width: 100%; /* Set maximum width to 100% of the parent container */
}

.icon{
  width: 18px;
  height: 18px;
}