.blog_title{
    margin: 70px;
}

  .blog_component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 20px; /* Optional: Add padding to the components */
    min-height: 50px; /* Increase the minimum height to create more spacing */
    height: auto; 
    scroll-snap-align: start;
}
  
@media (max-width: 768px) {
  .blog_component {
    scroll-snap-align: none !important; 

  }
}


@media (min-width: 769px) and (max-width: 1200px) {
  .blog_component {
    scroll-snap-align: none !important; 
  }
}